@use "../abstracts" as *;

.contact {
  padding: $base-spacing;
  background-color: $dark-color;
  display: flex;
  flex-direction: column;
  gap: $base-spacing;
  height: 100vh;

  @media only screen and (min-width: $tablet-width) {
    flex-direction: row;
    height: unset;
    gap: $base-spacing * 1.5;
    padding: $base-spacing * 1.5;
  }
}
