@use "../abstracts" as *;

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: $base-spacing;
  padding: $base-spacing;

  @media only screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__title {
      grid-column: 1 / 3;
    }
  }
}
