@use "../abstracts" as *;

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: $base-spacing;
  padding: $base-spacing;

  @media only screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $base-spacing * 1.5;
  padding: $base-spacing * 1.5;


    &__title {
      grid-column: 1 / -1;
    }
  }

  @media only screen and (min-width: $desktop-width) {
    grid-template-columns: 1fr;
  }
}
