@use "../abstracts" as *;

.details {
  border: $border-light;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $base-spacing;

  @media only screen and (min-width: $tablet-width) {
    width: 50%;
    height: unset;
  }

  &__link {
    font-size: 4rem;
    min-width: 30%;
    width: 200px;
    display: flex;
    align-items: center;
    color: $light-font-color;
    gap: $base-spacing;
    text-decoration: none;
    transition: ease-in 0.1s;

    &:hover {
      color: $highlight;
    }
  }

  &__text {
    text-align: left;
  }
}
