@use "../abstracts" as *;

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  border: 1px solid black;
  gap: $base-spacing;
  padding: $base-spacing;

  &__img {
    width: 100%;
  }

  &__content {
    display: flex;
  }

  &__text {
    width: 90%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
  }

  &__title {
    border-bottom: 1px solid black;

    @media only screen and (min-width: $tablet-width) {
      font-size: 3rem;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: $base-spacing;
  }

  &__link {
    font-size: 2rem;
    color: black;
    height: min-content;

    @media only screen and (min-width: $tablet-width) {
      font-size: 3rem;
    }

    &:hover {
      color: grey;
    }
  }

  &__stack {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: $base-spacing;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
    width: 10%;
    padding: $base-spacing;
  }

  @media only screen and (min-width: $tablet-width) {
    &__description {
      font-size: 1.5rem;
    }
  }
}
