@use "../abstracts" as *;

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  border: 1px solid black;
  gap: $base-spacing;
  padding: $base-spacing;

  @media only screen and (min-width: $desktop-width) {
    align-items: center;
    flex-direction: row;

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }
  }

  &__img-link {
    position: relative;
    width: 100%;

    &:hover:after {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $highlight-transparent;
      content: "";
      width: 100%;
      height: 100%;
    }

    @media only screen and (min-width: $desktop-width) {
      width: 50%;
    }
  }

  &__img {
    width: 100%;
  }

  &__content {
    display: flex;

    @media only screen and (min-width: $desktop-width) {
      width: 50%;
    }
  }

  &__text {
    width: 90%;
    padding: $base-spacing;
  }

  &__title {
    border-bottom: 1px solid black;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: $base-spacing;
  }

  &__link {
    font-size: 4rem;
    color: black;

    &:hover {
      color: $highlight;
    }
  }

  &__stack {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: $base-spacing;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.5rem;
    width: 10%;
    padding: $base-spacing;
  }
}
