@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Spartan&display=swap");

// fonts
$fancy-font: "Spartan", sans-serif;
$basic-font: "Cabin", sans-serif;

$light-font-color: #f5f5f5;
$dark-font-color: #161616;

$dark-color: #3b4e26;
$highlight: #e9c880;

$dark-color-transparent: #3b4e2699;
$highlight-transparent: #e9c88099;

$border-light: 2px solid $highlight;
$border-dark: 2px solid $dark-color;

// spacing
$base-spacing: 1rem;

// media query widths
$tablet-width: 600px;
$desktop-width: 1025px;
