@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Spartan&display=swap");

// fonts
$fancy-font: "Spartan", sans-serif;
$basic-font: "Cabin", sans-serif;

$light-font-color: #f5f5f5;
$dark-font-color: #0f0f0f;

$dark-color: #3b4e26;
$highlight: #ecc46f;

$dark-color-transparent: transparentize($dark-color, 0.6);
$highlight-transparent: transparentize($highlight, 0.6);

$border-light: 2px solid $highlight;
$border-dark: 2px solid $dark-color;

// spacing
$base-spacing: 1rem;

// media query widths
$tablet-width: 600px;
$desktop-width: 1025px;
